<h1>Data Science Ecosystem</h1>

THIS IS NOTEBOOK, DATA SCIENCE Tools and Ecosystem summarized


<title>Some of the popular language that Data Science use are:</title>
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Java</li>
<li>C++</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ul>
<li>Tensoflow</li>
<li>Numpy</li>
<li>Scipy</li>
<li>Pandas</li>
<li>Matplotlib</li>
<li>Keras</li>
<li>PyTorch ... </li>
</ul>

|Data Science Tools|
|---|
|SAS|
|Apache Hapoop|
|Tensoflow|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [16]:
#Division in Python : When you divide in Python 3, your quotient will always be returned as a float, even if you use two integers#
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60#
200/60

3.3333333333333335

<h3>Obeject <h3>

<ul>
<li>List popular languages for Data Science</li>
<li>List popular tools for Data Science</li>
<li>List popular libralies for Data Science</li>

</ul>

<h2>AuThor<h2>
<h5>DuongBaoPhuoc<h5>